
a.nav:link
{
   text-decoration:none;
   font-size:14;
   font-weight:700;
   color:#000000;
}

a.nav:visited
{
   text-decoration:none;
   font-size:14;
   font-weight:700;
   color:#000000;
}

a.nav:hover
{
   color:#FFBD5D;
   font-size:14;
}


a:link
{
   text-decoration:none;
   color:black;
}

a:visited
{
   text-decoration:none;
   color:black;
}



div.header
{
   border:1px solid transparent;
   background-color: #EBEBEB;
   width:1000px;
   margin-left:auto;
   margin-right:auto;
   margin-top:10px;
   border-bottom:10px solid #27024d;
   border-top:5px solid #27024d;
   box-sizing: border-box;
}

div.utLogo
{
   float:right;
}



div.LateralBox
{   float:left;
    border:1px solid transparent;
    text-align: center;
    width:200px;
    padding-top:5px;
    background-color: #ABBAEA;
    font-family:arial;
    font-weight:700;
    box-sizing: border-box;
}

div.LateralList
{
    text-align: left;
    font-family:"Nobile", sans-serif;
    font-variant:small-caps;
    font-size:14;
    width:200px;
    margin:-1px;
    padding:5px;
    border:2px solid transparent;
    box-sizing: border-box;
}

div.LateralList:hover
{
    border:2px solid #27024d;
    background: #e1e1e1;
}
div.ThisLateralList
{
    text-align: left;
    font-family:"Nobile", sans-serif;
    font-variant:small-caps;
    font-size:14;
    width:200px;
    margin:-1px;
    padding:5px;
    border:2px solid #27024d;
    background: #e1e1e1;
    box-sizing: border-box;
}
div.LateralSubList
{
    text-align: left;
    font-family:"Nobile", sans-serif;
    font-variant:small-caps;
    font-size:10;
    width:200px;
    margin:-1px;
    padding:0px 0px 0px 15px;
    border:2px solid transparent;
    box-sizing: border-box;
}
div.LateralSubList:hover
{
    border:2px solid #27024d;
    background: #e1e1e1;
}



div.clearwidth{clear:both;}

div.content
{
   float:right;
   width:790px;
   border:1px solid transparent;
   padding-top:10px;
   padding-bottom:20px;
   padding-right:15px;
   padding-left:15px;
   box-sizing: border-box;
}

li
{
    padding:0px;
    margin:0px;
}

h1
{
   font-family:"Nobile", sans-serif;
   width:100%;
   font-weight:700;
   font-size:28;
   color:#27024d;
   padding:0px;
   margin-top:10px;
   margin-bottom:10px;
   font-variant: small-caps;
}

h2
{
   font-family:"Nobile", sans-serif;
   width:100%;
   font-weight:700;
   font-size:20;
   border-bottom:0px solid #000000;
   color:#27024d;
   padding:0px;
   margin-top:0px;
   margin-bottom:5px;
   font-variant: small-caps;
}

h3
{
   font-family:"Nobile", sans-serif;
   width:100%;
   font-weight:700;
   font-size:16;
   border-bottom:0px solid #000000;
   color:#27024d;
   padding:0px;
   margin-top:10px;
   margin-bottom:0px;
   margin-left:0px;
   display:inline;
   font-variant: small-caps;
}

h4
{
   font-variant: small-caps;
   padding:0px;
   margin:0px;
}


div.text
{
   text-indent:12px;
   font-family:"Nobile", sans-serif;
   width:100%;
   font-weight:400;
   font-size:14;
   color:#000000;
   margin-top:10px;
   text-align:justify;
}

div.text em
{
   font-family:"Nobile", sans-serif;
   text-indent:12px;
   width:100%;
   font-weight:700;
   font-size:14;
   color:#27024d;
   text-align:justify;
}

div.firefox
{
   float:right;
   color:#777777;
   margin-top:3px;
   font-family:arial;
   font-size:10;
}

img.figure
{
   margin:10 px;
   border:1px solid #000000;
}

table
{
   font-family:verdana;
   font-weight:400;
   font-size:14;
   color:#000000;
   text-align:justify;
}

p{
   text-indent:12px;
   font-family:"Nobile", sans-serif;ES;
   width:100%;
   font-weight:400;
   font-size:14;
   margin-top:0px;
   margin-bottom:0px;
   color:#000000;
   text-align:justify;
}

code{
background:#FFFFFF;
color:#000000;
font-family:courier;
font-weight:400;
}


div.code
{
   font-family:courier;
   font-weight:400;
   font-size:12;
   color:#000000;
   text-indent:0px;
   text-align:justify;
   background:#FFFFFF;
   border:1px solid transparent;
   padding-left:10px;
   margin:5px;
}

